@{
  Layout = "_Layout";
}

<div class="about"><p>For more than two decades the Eau Claire's Salons have affected the magnificence scene with redid trimming, great styling, signature shading, and a salon propelled gathering of hair items that were relatively revolutionary.

Provence conceived Paris prepared, Eau Claire's opened his namesake salon on New York's Bergdorf Goodman Department Store.

A classy haven where liberality and closeness achieve exquisite new statutes. The universe of style is turned on its head.</p></div>

<p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>